<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
        <!--
        <pages theme="General">
           
        </pages>
        -->
        
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="*"/>
			</assemblies>
		</compilation>

		<customErrors mode="Off"/>
        <httpRuntime requestValidationMode="2.0" />
    </system.web>
</configuration>
