iframe
{
    border:0;
}

#popupBackground{  
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:100%;  
    width:100%;  
    top:0;  
    left:0;  
    background:#000000;  
    border:1px solid #cecece;  
    z-index:1;  
}  

#popupContainer{  
    display:none;  
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/    
    height:685px;  
    width:100%;  
    background:#EFEFEF;  
    border:2px solid #cecece;  
    z-index:2;  
    padding:12px;
    padding-left:20px;
    font-size:13px;  
} 

#popupHeader
{
    padding:5px;
    text-align:right;
}

#popupContent{
    height:655px;
}

#popupContentClose{
    margin:auto;
    cursor:pointer;
}